.logo{
	display: inline-block;
	float:left;
	background: #60BF41;
	font-family:  Georgia, Bookman, "Times New Roman", serif;
	text-align: center;
}
nav a{
	display: inline-block;
	float: left;
	background: #669017;
	margin: 20px 10px;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
}
body{
	background: #F0F3B5;
}

main{
		clear: both;
}
.urgent{
	display:inline-block;
	color: #DF2A27;
}
img{
	margin: 10px;
	border: solid;
}
footer{
	clear: both;
}